.navbar{
    background: linear-gradient(
        90deg,
        rgba(112, 225, 205, 0.06),
        rgba(61, 123, 112, 0.06)
      );
}
.tt-lng{

  font-size: 40px;
  font-weight: 700;
  width: 400px;
  height: 67px;
}
.rate i{
  font-size: 20px;
  font-weight: 700;
}
.descinline{
  display: inline;
}
.descempty{
  display: none;
}
.formatted-content {
  white-space: pre-wrap; 
  font-family: Arial, Helvetica, sans-serif;
}
.info > fieldset{
  border-color:mediumseagreen;

}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: flex-start; /* Canh đỉnh theo chiều dọc */
  margin: 0 auto; /* Canh giữa theo chiều ngang */
  max-width: 1200px; /* Giới hạn chiều rộng tối đa của container */
  padding: 0 20px; /* Khoảng cách lề bên trong container */
  margin-top: 20px;
}
.description > a{
  display: flex;
  justify-content: right;
  cursor: pointer;
}
.dsc{
 margin-top: 50px;
}
.dsc > p{
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px solid ;
  border-color: aquamarine;
  padding:12px
}



